.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #1b1c1d;
    color: rgba(255,255,255,.9);
    position: absolute;
    top: -19px;
    right: 0%;
    width: 100%;
    padding: 10px;
}
body {
  overflow: hidden;
}
.ui.secondary.inverted.pointing.menu {
    border-width: 2px;
    border-color: rgba(34,36,38,.15);
    font-size: xxx-large;
}
.item
{
  position: relative !important;
  left: 38% !important;
  transform: translateX(-50%) !important;
}
h1
{
    text-align: center;
    font-size: 48px !important;
    font-weight: 900 !important;
    letter-spacing: 48px;
    text-decoration: underline;
}
a
{
  position: relative !important;
  left: 60% !important;
}
h2
{
  position: relative !important;
  left: 0% !important;
  display: inline;
}
nav{
    position: absolute;
    top: 25%;
    display: inline;
}
.l1{
  font-size: 50px;
  list-style-type: none;
  display: inline;
  position: relative;
  right: 25%;

}
.l2
{
  list-style-type: none;
  display: inline;
  position: relative;
  left: 20%;
  font-size: 50px;

}
a
{
  background-color: black;
    color: white;
    padding: 15px;
    padding: 25px;
}
p
{
  position: absolute;
    top: 50%;
    left: 50%;
}
#root{
    position: absolute;
    top: 50%;
    left: 50%;
}

